@font-face {
	font-family: 'alluraregular';
	src: url('../fonts/allura-regular-webfont.eot');
	src: url('../fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/allura-regular-webfont.woff') format('woff'),
			 url('../fonts/allura-regular-webfont.ttf') format('truetype'),
			 url('../fonts/allura-regular-webfont.svg#alluraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansCondensedLight';
	src: url('../fonts/OpenSans-CondLight-webfont.eot');
	src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
			 url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
			 url('../fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansCondensedBold';
	src: url('../fonts/OpenSans-CondBold-webfont.eot');
	src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
			 url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
			 url('../fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
  color: #545454;
	font: 18px/22px 'OpenSansCondensedLight', Arial, sans-serif;
	font-size: 17px;
	background-color: #f3f3f3;
	margin: 0 auto;
	width: 800px;
}

body {
  background-color: #f3f3f3;
	background-image: url('../img/bgs/ribbon_back.png');
	background-repeat: no-repeat;
	background-position: 50% 73px;
}

.container {
	/* width: 784px; */
	width: 688px;
	margin: 30px auto 45px auto;
	position: relative;
}

.flags {
  position: absolute;
  top: -16px;
  right: 0px;
  margin: 0 auto 10px auto;
  z-index: 888;
}
.flags > .pull-right > a {
  width: 26px;
  height: 21px;
  display: block;
  cursor: pointer;
  float: left;
  margin: 0;
  text-align: center;
}

#header {
  background-image: url('../img/bgs/bg_header.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 168px;
  position: relative;
}

.navbar {
  position: absolute;
  top: 77px;
  color: #48b5cd;
  width: 100%;
}
.navbar .navbar-inner {
  height: 43px;
  min-height: 43px;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='transparent', endColorstr='transparent', GradientType=0);
  -webkit-box-shadow: 0 0 0 rgba(255,255,255,0);
  -moz-box-shadow: 0 0 0 rgba(255,255,255,0);
  box-shadow: 0 0 0 rgba(255,255,255,0);
}
.navbar .nav {
  width: 100%;
  margin: 0;
}
.navbar .nav > li {
  width: 129px;
  text-align: center;
}
.navbar .nav > li > a, .navbar .nav > li > a:visited {
  color: #48b5cd;
  font-size: 18px;
  padding: 15px 15px 0px 15px;
  text-shadow: 0 1px 0 #DDFAFF;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus {
  color: #287e91;
}

#main {
  width: 638px;
	padding: 10px 25px;
  background-color: transparent;
	background-image: url('../img/bgs/bg_container.png');
	background-repeat: repeat-y;
	background-position: 50% 0;
	position: relative;
}

section {
  width: 100%;
  position: relative;
}
section#welcome {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_welcome.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 457px;
  margin-top: -40px;
}
section#ourstory {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_ourstory.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 505px;
}
section#travel {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_travel.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 505px;
}
section#destination {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_destination.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 505px;
}
section#gifts {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_gifts.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 505px;
}
section#contact {
  background-color: transparent;
  background-image: url('../img/bgs/bg_section_contact.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 505px;
}

.pageTitle {
  text-align: center;
	font-size: 42px;
	color: #0eacb9;
	display: block;
	font-family: 'alluraregular', serif;
	padding-top: 55px;
	/* padding-bottom: 400px; */
}
#ourstory .pageTitle {
  color: #55d2fa;
}
#travel .pageTitle {
  color: #ff54c9;
}
#destination .pageTitle {
  color: #ffa35c;
}
#gifts .pageTitle {
  color: #6fe240;
}
#contact .pageTitle {
  color: #66e1d6;
}

.toparrow {
  background-color: transparent;
  background-image: url('../img/extras/top_arrow.png');
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  height: 44px;
  width: 53px;
  cursor: pointer;
  position: absolute;
  top: 93px;
  right: -74px;
}
.toparrow:hover {
  background-position-x: 0;
  background-position-y: -56px;
}

.copy {
	background: transparent;
	color: #545454;
	margin: 440px 9px 0px 9px;
	width: 620px;
	display: inline-block;
}
.copy .column {
  width: 300px;
}
.copy .left {
  float: left;
}
.copy .right {
  float: right;
}
#travel .copy a, #travel .copy a:visited {
  color: #e645b4;
}
#travel .copy a:hover, #travel .copy a:active {
  color: #545454;
  text-decoration: none;
}
#destination .copy .orange {
  color: #e9741b;
}
#destination .copy a, #destination .copy a:visited {
  color: #e9741b;
}
#destination .copy a:hover, #destination .copy a:active {
  color: #545454;
  text-decoration: none;
}
#gifts .copy a, #gifts .copy a:visited {
  color: #56c32b;
}
#gifts .copy a:hover, #gifts .copy a:active {
  color: #545454;
  text-decoration: none;
}
#contact .copy span {
  color: #45b6af;
}

b {
	font: 18px/22px 'OpenSansCondensedBold', Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

#footer {
  background-color: transparent;
  background-image: url('../img/bgs/bg_footer.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
  height: 65px;
}
#footer p {
  padding-top: 45px;
  text-align: center;
  color: #acacac;
}
#footer p a, #footer p a:visited {
  color: #333333;
  text-decoration: none;
}
#footer p a:hover {
  color: #acacac;
}


/* ITALIAN */
html:lang(it) {
  
}


/* RUSSIN */
html:lang(ru) {
  
}






