@font-face {
	font-family: 'alluraregular';
	src: url('../fonts/allura-regular-webfont.eot');
	src: url('../fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/allura-regular-webfont.woff') format('woff'),
			 url('../fonts/allura-regular-webfont.ttf') format('truetype'),
			 url('../fonts/allura-regular-webfont.svg#alluraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
  /* background: url('../img/lightpaperfibers.png') repeat fixed 0 0;
  /*background: rgb(255, 0, 128);*/
  font-size: 15px;
  color: black;
}

.navbar {
	color: #AAAAAA;
	height: 70px;
	line-height: 50px;
	font-family: 'alluraregular', serif;
}
.navbar .nav {
	height: 70px;
}
.navbar .nav > li {
	line-height: 50px;
}
.navbar .nav > li > a {
	color: #aaaaaa;
	font-size: 26px;
}
.navbar .nav > li > a:hover {
	color: #1ea5ed;
}
.navbar .nav > li > a:hover::after {
	
}
.navbar-inner {
  background-color: #FFFFFF;
	background-image: none;
	filter: none;
	height: 70px;
}
.navbar .container {
	height: 70px;
}
.navbar .brand {
	color: #e0a6f8;
	font-size: 45px;
}

#main {
  position: relative;
}
.container {
  /* width: 100%; */
	width: 1020px;
	margin: 0 auto;
}
#scrollPos {
	position: fixed;
	top: 150px;
	left: 10px;
	z-index:9999;
}
section {
  /*
	height: 683px;
  width: 1020px;
  position:relative;
	margin: 0 auto;
	*/
}
section:nth-child(even) {
	
}
